<div class="center jumbotron">
  <h1>Welcome to the Music Project</h1>

  <h2>
    This is the home page for the Music Project Application
    
  </h2>

  <%= link_to "New Project!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>